In [6]:
import pandas as pd

In [7]:
df = pd.read_csv("/data/credit-default.csv")
df.head()

,checking_balance,months_loan_duration,credit_history,purpose,amount,savings_balance,employment_length,installment_rate,personal_status,other_debtors,...,property,age,installment_plan,housing,existing_credits,default,dependents,telephone,foreign_worker,job
0,< 0 DM,6,critical,radio/tv,1169,unknown,> 7 yrs,4,single male,none,...,real estate,67,none,own,2,1,1,yes,yes,skilled employee
1,1 - 200 DM,48,repaid,radio/tv,5951,< 100 DM,1 - 4 yrs,2,female,none,...,real estate,22,none,own,1,2,1,none,yes,skilled employee
2,unknown,12,critical,education,2096,< 100 DM,4 - 7 yrs,2,single male,none,...,real estate,49,none,own,1,1,2,none,yes,unskilled resident
3,< 0 DM,42,repaid,furniture,7882,< 100 DM,4 - 7 yrs,2,single male,guarantor,...,building society savings,45,none,for free,1,1,2,none,yes,skilled employee
4,< 0 DM,24,delayed,car (new),4870,< 100 DM,1 - 4 yrs,3,single male,none,...,unknown/none,53,none,for free,2,2,2,none,yes,skilled employee

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 21 columns):
checking_balance        1000 non-null object
months_loan_duration    1000 non-null int64
credit_history          1000 non-null object
purpose                 1000 non-null object
amount                  1000 non-null int64
savings_balance         1000 non-null object
employment_length       1000 non-null object
installment_rate        1000 non-null int64
personal_status         1000 non-null object
other_debtors           1000 non-null object
residence_history       1000 non-null int64
property                1000 non-null object
age                     1000 non-null int64
installment_plan        1000 non-null object
housing                 1000 non-null object
existing_credits        1000 non-null int64
default                 1000 non-null int64
dependents              1000 non-null int64
telephone               1000 non-null object
foreign_worker          1000 non-null object
job                     1000 non-null object
dtypes: int64(8), object(13)
memory usage: 164.2+ KB

In [9]:
df.default.value_counts()

1    700
2    300
Name: default, dtype: int64

In [29]:
from sklearn import *

target = "default"
X = df.drop(columns=target)
y = preprocessing.LabelEncoder().fit_transform(df[target])

X = pd.get_dummies(X, drop_first=True)

est =  tree.DecisionTreeClassifier(max_depth=10, min_samples_leaf=10)

X_train, X_test, y_train, y_test = model_selection.train_test_split(X, y
                                        , test_size = 0.3, random_state = 1)

est.fit(X_train, y_train)

y_train_pred = est.predict(X_train)
y_test_pred = est.predict(X_test)

print("train accuracy:", metrics.accuracy_score(y_train, y_train_pred))
print("test accuracy:", metrics.accuracy_score(y_test, y_test_pred))

train accuracy: 0.8185714285714286
test accuracy: 0.7266666666666667

In [30]:
from sklearn.tree import export_graphviz
export_graphviz(est, out_file = "tree.dot", feature_names = X.columns, filled=True)
!dot -Tpng tree.dot -o tree.png

In [33]:
d = pd.DataFrame({"feature": X.columns, "w":est.feature_importances_})

In [35]:
d.w.sum()

0.9999999999999999

In [37]:
d.sort_values("w", ascending = False)

                                  feature         w
9                checking_balance_unknown  0.223366
0                    months_loan_duration  0.140508
1                                  amount  0.130640
2                        installment_rate  0.067280
3                       residence_history  0.058093
13                  credit_history_repaid  0.052897
24               savings_balance_< 100 DM  0.047273
34                other_debtors_guarantor  0.035957
11            credit_history_fully repaid  0.035859
36                         property_other  0.026956
12  credit_history_fully repaid this bank  0.025965
8               checking_balance_> 200 DM  0.025553
39                  installment_plan_none  0.025387
15                     purpose_car (used)  0.018864
41                            housing_own  0.016337
5                        existing_credits  0.015400
14                      purpose_car (new)  0.013135
4                                     age  0.011620
35                     other_debtors_none  0.011324
27            employment_length_1 - 4 yrs  0.009599
10                 credit_history_delayed  0.004479
45                   job_skilled employee  0.003507
37                   property_real estate  0.000000
42                           housing_rent  0.000000
38                  property_unknown/none  0.000000
40                installment_plan_stores  0.000000
32           personal_status_married male  0.000000
43                          telephone_yes  0.000000
44                     foreign_worker_yes  0.000000
46            job_unemployed non-resident  0.000000
33            personal_status_single male  0.000000
7                 checking_balance_< 0 DM  0.000000
31                 personal_status_female  0.000000
30           employment_length_unemployed  0.000000
29              employment_length_> 7 yrs  0.000000
28            employment_length_4 - 7 yrs  0.000000
26                savings_balance_unknown  0.000000
25              savings_balance_> 1000 DM  0.000000
23          savings_balance_501 - 1000 DM  0.000000
22                     purpose_retraining  0.000000
21                        purpose_repairs  0.000000
20                       purpose_radio/tv  0.000000
19                         purpose_others  0.000000
18                      purpose_furniture  0.000000
17                      purpose_education  0.000000
16            purpose_domestic appliances  0.000000
6                              dependents  0.000000
47                 job_unskilled resident  0.000000

In [43]:
from sklearn import *

target = "default"
X = df.drop(columns=target)
y = preprocessing.LabelEncoder().fit_transform(df[target])

X = pd.get_dummies(X, drop_first=True)

est =  ensemble.RandomForestClassifier(n_estimators=20
                        , max_depth=6, min_samples_leaf=2)

X_train, X_test, y_train, y_test = model_selection.train_test_split(X, y
                                        , test_size = 0.3, random_state = 1)

est.fit(X_train, y_train)

y_train_pred = est.predict(X_train)
y_test_pred = est.predict(X_test)

print("train accuracy:", metrics.accuracy_score(y_train, y_train_pred))
print("test accuracy:", metrics.accuracy_score(y_test, y_test_pred))

train accuracy: 0.8014285714285714
test accuracy: 0.7433333333333333

In [44]:
d = pd.DataFrame({"feature": X.columns, "w":est.feature_importances_})
d.sort_values("w", ascending = False)

                                  feature         w
1                                  amount  0.124233
9                checking_balance_unknown  0.121480
4                                     age  0.092064
0                    months_loan_duration  0.084561
11            credit_history_fully repaid  0.067401
2                        installment_rate  0.040465
7                 checking_balance_< 0 DM  0.040019
24               savings_balance_< 100 DM  0.029892
13                  credit_history_repaid  0.026937
43                          telephone_yes  0.026389
39                  installment_plan_none  0.023761
15                     purpose_car (used)  0.023667
12  credit_history_fully repaid this bank  0.022486
5                        existing_credits  0.022417
38                  property_unknown/none  0.018253
33            personal_status_single male  0.014326
3                       residence_history  0.014000
45                   job_skilled employee  0.013466
41                            housing_own  0.012419
34                other_debtors_guarantor  0.012301
37                   property_real estate  0.010947
42                           housing_rent  0.010731
27            employment_length_1 - 4 yrs  0.010644
31                 personal_status_female  0.010223
26                savings_balance_unknown  0.009807
36                         property_other  0.009640
14                      purpose_car (new)  0.009046
18                      purpose_furniture  0.008821
29              employment_length_> 7 yrs  0.008093
35                     other_debtors_none  0.007698
25              savings_balance_> 1000 DM  0.007422
20                       purpose_radio/tv  0.006886
10                 credit_history_delayed  0.006853
40                installment_plan_stores  0.006751
21                        purpose_repairs  0.006362
6                              dependents  0.005940
47                 job_unskilled resident  0.005851
44                     foreign_worker_yes  0.005412
30           employment_length_unemployed  0.004825
8               checking_balance_> 200 DM  0.003767
32           personal_status_married male  0.003208
17                      purpose_education  0.003069
23          savings_balance_501 - 1000 DM  0.002953
28            employment_length_4 - 7 yrs  0.002798
19                         purpose_others  0.001557
16            purpose_domestic appliances  0.000157
22                     purpose_retraining  0.000000
46            job_unemployed non-resident  0.000000

In [48]:
from sklearn import *

target = "default"
X = df.drop(columns=target)
y = preprocessing.LabelEncoder().fit_transform(df[target])

X = pd.get_dummies(X, drop_first=True)

est =  neighbors.KNeighborsClassifier(n_neighbors=10)

pipe = pipeline.Pipeline([
    ("scaler", preprocessing.StandardScaler()),
    ("est", neighbors.KNeighborsClassifier(n_neighbors=15))
])

X_train, X_test, y_train, y_test = model_selection.train_test_split(X, y
                                        , test_size = 0.3, random_state = 1)

pipe.fit(X_train, y_train)

y_train_pred = pipe.predict(X_train)
y_test_pred = pipe.predict(X_test)

print("train accuracy:", metrics.accuracy_score(y_train, y_train_pred))
print("test accuracy:", metrics.accuracy_score(y_test, y_test_pred))

train accuracy: 0.7685714285714286
test accuracy: 0.7433333333333333

In [53]:
pd.Series(pipe.predict_proba(X_test).flatten()).unique()

array([0.66666667, 0.33333333, 0.46666667, 0.53333333, 0.4       ,
       0.6       , 0.73333333, 0.26666667, 0.8       , 0.2       ,
       0.93333333, 0.06666667, 0.86666667, 0.13333333, 1.        ,
       0.        ])