In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("/data/diamonds.csv")

In [4]:
type(df)

pandas.core.frame.DataFrame

In [5]:
df.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [6]:
df.head(10)

   carat        cut color clarity  depth  table  price     x     y     z
0   0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
5   0.24  Very Good     J    VVS2   62.8   57.0    336  3.94  3.96  2.48
6   0.24  Very Good     I    VVS1   62.3   57.0    336  3.95  3.98  2.47
7   0.26  Very Good     H     SI1   61.9   55.0    337  4.07  4.11  2.53
8   0.22       Fair     E     VS2   65.1   61.0    337  3.87  3.78  2.49
9   0.23  Very Good     H     VS1   59.4   61.0    338  4.00  4.05  2.39

In [7]:
df.tail()

       carat        cut color clarity  depth  table  price     x     y     z
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

In [8]:
df.tail(10)

       carat        cut color clarity  depth  table  price     x     y     z
53930   0.71    Premium     E     SI1   60.5   55.0   2756  5.79  5.74  3.49
53931   0.71    Premium     F     SI1   59.8   62.0   2756  5.74  5.73  3.43
53932   0.70  Very Good     E     VS2   60.5   59.0   2757  5.71  5.76  3.47
53933   0.70  Very Good     E     VS2   61.2   59.0   2757  5.69  5.72  3.49
53934   0.72    Premium     D     SI1   62.7   59.0   2757  5.69  5.73  3.58
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

In [9]:
df.sample(5)

       carat        cut color clarity  depth  table  price     x     y     z
23629   1.50  Very Good     H    VVS1   63.8   57.0  11654  7.17  7.21  4.59
48771   0.57    Premium     D     VS2   60.8   59.0   2019  5.38  5.34  3.26
24500   1.51  Very Good     E     VS2   62.7   59.0  12779  7.20  7.32  4.55
43127   0.50  Very Good     H     VS2   63.9   57.0   1387  5.04  5.07  3.23
51603   0.70       Good     H     SI1   63.7   57.0   2394  5.58  5.57  3.55

In [10]:
df.iloc[10:15, :]

    carat      cut color clarity  depth  table  price     x     y     z
10   0.30     Good     J     SI1   64.0   55.0    339  4.25  4.28  2.73
11   0.23    Ideal     J     VS1   62.8   56.0    340  3.93  3.90  2.46
12   0.22  Premium     F     SI1   60.4   61.0    342  3.88  3.84  2.33
13   0.31    Ideal     J     SI2   62.2   54.0    344  4.35  4.37  2.71
14   0.20  Premium     E     SI2   60.2   62.0    345  3.79  3.75  2.27

In [11]:
df.iloc[:15, :]

    carat        cut color clarity  depth  table  price     x     y     z
0    0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1    0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2    0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3    0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4    0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
5    0.24  Very Good     J    VVS2   62.8   57.0    336  3.94  3.96  2.48
6    0.24  Very Good     I    VVS1   62.3   57.0    336  3.95  3.98  2.47
7    0.26  Very Good     H     SI1   61.9   55.0    337  4.07  4.11  2.53
8    0.22       Fair     E     VS2   65.1   61.0    337  3.87  3.78  2.49
9    0.23  Very Good     H     VS1   59.4   61.0    338  4.00  4.05  2.39
10   0.30       Good     J     SI1   64.0   55.0    339  4.25  4.28  2.73
11   0.23      Ideal     J     VS1   62.8   56.0    340  3.93  3.90  2.46
12   0.22    Premium     F     SI1   60.4   61.0    342  3.88  3.84  2.33
13   0.31      Ideal     J     SI2   62.2   54.0    344  4.35  4.37  2.71
14   0.20    Premium     E     SI2   60.2   62.0    345  3.79  3.75  2.27

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 10 columns):
carat      53940 non-null float64
cut        53940 non-null object
color      53940 non-null object
clarity    53940 non-null object
depth      53940 non-null float64
table      53940 non-null float64
price      53940 non-null int64
x          53940 non-null float64
y          53940 non-null float64
z          53940 non-null float64
dtypes: float64(6), int64(1), object(3)
memory usage: 4.1+ MB

In [13]:
import sys

In [14]:
sys.getsizeof(df)

13237104

In [15]:
df.columns

Index(['carat', 'cut', 'color', 'clarity', 'depth', 'table', 'price', 'x', 'y',
       'z'],
      dtype='object')

In [17]:
dict(df.dtypes)

{'carat': dtype('float64'),
 'cut': dtype('O'),
 'color': dtype('O'),
 'clarity': dtype('O'),
 'depth': dtype('float64'),
 'table': dtype('float64'),
 'price': dtype('int64'),
 'x': dtype('float64'),
 'y': dtype('float64'),
 'z': dtype('float64')}

In [22]:
df[(df.cut == "Premium") & (df.color == "E")]

       carat      cut color clarity  depth  table  price     x     y     z
1       0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
14      0.20  Premium     E     SI2   60.2   62.0    345  3.79  3.75  2.27
15      0.32  Premium     E      I1   60.9   58.0    345  4.38  4.42  2.68
53      0.22  Premium     E     VS2   61.6   58.0    404  3.93  3.89  2.41
69      0.24  Premium     E    VVS1   60.7   58.0    553  4.01  4.03  2.44
...      ...      ...   ...     ...    ...    ...    ...   ...   ...   ...
53905   0.70  Premium     E     SI1   60.0   59.0   2753  5.75  5.79  3.46
53910   0.70  Premium     E     SI1   60.5   58.0   2753  5.74  5.77  3.48
53911   0.57  Premium     E      IF   59.8   60.0   2753  5.43  5.38  3.23
53928   0.79  Premium     E     SI2   61.4   58.0   2756  6.03  5.96  3.68
53930   0.71  Premium     E     SI1   60.5   55.0   2756  5.79  5.74  3.49

[2337 rows x 10 columns]

In [24]:
df.query("cut == 'Premium' and color == 'E'")

       carat      cut color clarity  depth  table  price     x     y     z
1       0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
14      0.20  Premium     E     SI2   60.2   62.0    345  3.79  3.75  2.27
15      0.32  Premium     E      I1   60.9   58.0    345  4.38  4.42  2.68
53      0.22  Premium     E     VS2   61.6   58.0    404  3.93  3.89  2.41
69      0.24  Premium     E    VVS1   60.7   58.0    553  4.01  4.03  2.44
...      ...      ...   ...     ...    ...    ...    ...   ...   ...   ...
53905   0.70  Premium     E     SI1   60.0   59.0   2753  5.75  5.79  3.46
53910   0.70  Premium     E     SI1   60.5   58.0   2753  5.74  5.77  3.48
53911   0.57  Premium     E      IF   59.8   60.0   2753  5.43  5.38  3.23
53928   0.79  Premium     E     SI2   61.4   58.0   2756  6.03  5.96  3.68
53930   0.71  Premium     E     SI1   60.5   55.0   2756  5.79  5.74  3.49

[2337 rows x 10 columns]

In [26]:
df.cut.value_counts()

Ideal        21551
Premium      13791
Very Good    12082
Good          4906
Fair          1610
Name: cut, dtype: int64

In [27]:
df.groupby("cut").price.mean()

cut
Fair         4358.757764
Good         3928.864452
Ideal        3457.541970
Premium      4584.257704
Very Good    3981.759891
Name: price, dtype: float64

In [29]:
def my_avg(col):
    return sum(col)/len(col)

In [30]:
df.groupby("cut").price.agg(["count","mean", "min", "max", my_avg])

           count         mean  min    max       my_avg
cut
Fair        1610  4358.757764  337  18574  4358.757764
Good        4906  3928.864452  327  18788  3928.864452
Ideal      21551  3457.541970  326  18806  3457.541970
Premium    13791  4584.257704  326  18823  4584.257704
Very Good  12082  3981.759891  336  18818  3981.759891

In [31]:
df.groupby("cut").agg({"carat": "mean", "price": "mean"})

              carat        price
cut
Fair       1.046137  4358.757764
Good       0.849185  3928.864452
Ideal      0.702837  3457.541970
Premium    0.891955  4584.257704
Very Good  0.806381  3981.759891

In [32]:
df.groupby("cut").agg({"carat": ["min", "max"]
                , "price": ["min", "max"]})

          carat       price
            min   max   min    max
cut
Fair       0.22  5.01   337  18574
Good       0.23  3.01   327  18788
Ideal      0.20  3.50   326  18806
Premium    0.20  4.01   326  18823
Very Good  0.20  4.00   336  18818

In [33]:
df.groupby(["cut", "color"]).agg({"carat": ["min", "max"]
                , "price": ["min", "max"]})

                carat       price
                  min   max   min    max
cut       color
Fair      D      0.25  3.40   536  16386
          E      0.22  2.04   337  15584
          F      0.25  2.58   496  17995
          G      0.23  2.60   369  18574
          H      0.33  4.13   659  18565
          I      0.41  3.02   735  18242
          J      0.30  5.01   416  18531
Good      D      0.23  2.04   361  18468
          E      0.23  3.00   327  18236
          F      0.23  2.67   357  18686
          G      0.23  2.80   394  18788
          H      0.25  3.01   368  18640
          I      0.30  3.01   351  18707
          J      0.28  3.00   335  18325
Ideal     D      0.20  2.75   367  18693
          E      0.20  2.28   326  18729
          F      0.23  2.45   408  18780
          G      0.23  2.54   361  18806
          H      0.23  3.50   357  18760
          I      0.23  3.22   348  18779
          J      0.23  3.01   340  18508
Premium   D      0.20  2.57   367  18575
          E      0.20  3.05   326  18477
          F      0.20  3.01   342  18791
          G      0.23  3.01   382  18741
          H      0.23  3.24   368  18795
          I      0.23  4.01   334  18823
          J      0.30  4.01   363  18710
Very Good D      0.23  2.58   357  18542
          E      0.20  2.51   352  18731
          F      0.23  2.48   357  18777
          G      0.23  2.52   354  18818
          H      0.23  3.00   337  18803
          I      0.24  4.00   336  18500
          J      0.24  2.74   336  18430

In [35]:
df.pivot_table("price", index="cut"
    , columns="color", aggfunc="median")

color           D       E       F       G       H       I       J
cut
Fair       3730.0  2956.0  3035.0  3057.0  3816.0  3246.0  3302.0
Good       2728.5  2420.0  2647.0  3340.0  3468.5  3639.5  3733.0
Ideal      1576.0  1437.0  1775.0  1857.5  2278.0  2659.0  4096.0
Premium    2009.0  1928.0  2841.0  2745.0  4511.0  4640.0  5063.0
Very Good  2310.0  1989.5  2471.0  2437.0  3734.0  3888.0  4113.0

In [37]:
df.sort_values("carat")

       carat      cut color clarity  depth  table  price      x      y     z
31593   0.20  Premium     E     VS2   61.1   59.0    367   3.81   3.78  2.32
31597   0.20    Ideal     D     VS2   61.5   57.0    367   3.81   3.77  2.33
31596   0.20  Premium     F     VS2   62.6   59.0    367   3.73   3.71  2.33
31595   0.20    Ideal     E     VS2   59.7   55.0    367   3.86   3.84  2.30
31594   0.20  Premium     E     VS2   59.7   62.0    367   3.84   3.80  2.28
...      ...      ...   ...     ...    ...    ...    ...    ...    ...   ...
25999   4.01  Premium     J      I1   62.5   62.0  15223  10.02   9.94  6.24
25998   4.01  Premium     I      I1   61.0   61.0  15223  10.14  10.10  6.17
27130   4.13     Fair     H      I1   64.8   61.0  17329  10.00   9.85  6.43
27630   4.50     Fair     J      I1   65.8   58.0  18531  10.23  10.16  6.72
27415   5.01     Fair     J      I1   65.5   59.0  18018  10.74  10.54  6.98

[53940 rows x 10 columns]

In [38]:
df.sort_values("carat", ascending = False)

       carat      cut color clarity  depth  table  price      x      y     z
27415   5.01     Fair     J      I1   65.5   59.0  18018  10.74  10.54  6.98
27630   4.50     Fair     J      I1   65.8   58.0  18531  10.23  10.16  6.72
27130   4.13     Fair     H      I1   64.8   61.0  17329  10.00   9.85  6.43
25999   4.01  Premium     J      I1   62.5   62.0  15223  10.02   9.94  6.24
25998   4.01  Premium     I      I1   61.0   61.0  15223  10.14  10.10  6.17
...      ...      ...   ...     ...    ...    ...    ...    ...    ...   ...
31592   0.20  Premium     E     VS2   59.0   60.0    367   3.81   3.78  2.24
31591   0.20  Premium     E     VS2   59.8   62.0    367   3.79   3.77  2.26
31601   0.20  Premium     D     VS2   61.7   60.0    367   3.77   3.72  2.31
14      0.20  Premium     E     SI2   60.2   62.0    345   3.79   3.75  2.27
31596   0.20  Premium     F     VS2   62.6   59.0    367   3.73   3.71  2.33

[53940 rows x 10 columns]

In [39]:
df.sort_values(["cut","carat"], ascending = False)

       carat        cut color clarity  depth  table  price      x     y     z
26444   4.00  Very Good     I      I1   63.3   58.0  15984  10.01  9.94  6.31
26100   3.04  Very Good     I     SI2   63.2   59.0  15354   9.14  9.07  5.75
16283   3.00  Very Good     H      I1   63.1   55.0   6512   9.23  9.10  5.77
27024   2.74  Very Good     J     SI2   61.5   62.0  17164   8.87  8.90  5.46
27065   2.74  Very Good     H     SI2   63.3   58.0  17184   8.88  8.84  5.61
...      ...        ...   ...     ...    ...    ...    ...    ...   ...   ...
2711    0.25       Fair     D     VS1   61.2   55.0    563   4.09  4.11  2.51
28270   0.25       Fair     E     VS1   55.2   64.0    361   4.21  4.23  2.33
38153   0.25       Fair     F     SI2   54.4   64.0   1013   4.30  4.23  2.32
31611   0.23       Fair     G    VVS2   61.4   66.0    369   3.87  3.91  2.39
8       0.22       Fair     E     VS2   65.1   61.0    337   3.87  3.78  2.49

[53940 rows x 10 columns]

In [40]:
df.sort_values(["cut","carat"], ascending = [True, False])

       carat        cut color clarity  depth  table  price      x      y     z
27415   5.01       Fair     J      I1   65.5   59.0  18018  10.74  10.54  6.98
27630   4.50       Fair     J      I1   65.8   58.0  18531  10.23  10.16  6.72
27130   4.13       Fair     H      I1   64.8   61.0  17329  10.00   9.85  6.43
23644   3.65       Fair     H      I1   67.1   53.0  11668   9.53   9.48  6.38
26431   3.40       Fair     D      I1   66.8   52.0  15964   9.42   9.34  6.27
...      ...        ...   ...     ...    ...    ...    ...    ...    ...   ...
50638   0.23  Very Good     F     VS2   59.4   57.0    402   4.06   4.09  2.42
50639   0.23  Very Good     F     VS1   61.9   58.0    402   3.90   4.02  2.45
52310   0.23  Very Good     D    VVS2   58.9   60.0    549   4.03   3.95  2.35
38273   0.21  Very Good     E     VS2   63.2   54.0    386   3.82   3.78  2.40
31598   0.20  Very Good     E     VS2   63.4   59.0    367   3.74   3.71  2.36

[53940 rows x 10 columns]