In [1]:
import pandas as pd

In [24]:
df = pd.read_csv("/data/insurance.csv")
df.head()

   age  gender     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [3]:
type(df)

pandas.core.frame.DataFrame

In [4]:
df.head()

   age  gender     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [5]:
df.tail()

      age  gender    bmi  children smoker     region     charges
1333   50    male  30.97         3     no  northwest  10600.5483
1334   18  female  31.92         0     no  northeast   2205.9808
1335   18  female  36.85         0     no  southeast   1629.8335
1336   21  female  25.80         0     no  southwest   2007.9450
1337   61  female  29.07         0    yes  northwest  29141.3603

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
age         1338 non-null int64
gender      1338 non-null object
bmi         1338 non-null float64
children    1338 non-null int64
smoker      1338 non-null object
region      1338 non-null object
charges     1338 non-null float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.2+ KB

In [7]:
df.shape

(1338, 7)

In [8]:
df.iloc[5:10, :]

   age  gender    bmi  children smoker     region      charges
5   31  female  25.74         0     no  southeast   3756.62160
6   46  female  33.44         1     no  southeast   8240.58960
7   37  female  27.74         3     no  northwest   7281.50560
8   37    male  29.83         2     no  northeast   6406.41070
9   60  female  25.84         0     no  northwest  28923.13692

In [9]:
df.iloc[-5:, :]

      age  gender    bmi  children smoker     region     charges
1333   50    male  30.97         3     no  northwest  10600.5483
1334   18  female  31.92         0     no  northeast   2205.9808
1335   18  female  36.85         0     no  southeast   1629.8335
1336   21  female  25.80         0     no  southwest   2007.9450
1337   61  female  29.07         0    yes  northwest  29141.3603

In [11]:
df.iloc[:5, :3]

   age  gender     bmi
0   19  female  27.900
1   18    male  33.770
2   28    male  33.000
3   33    male  22.705
4   32    male  28.880

In [12]:
df.columns

Index(['age', 'gender', 'bmi', 'children', 'smoker', 'region', 'charges'], dtype='object')

In [14]:
df[['age', 'gender', 'bmi']].head()

   age  gender     bmi
0   19  female  27.900
1   18    male  33.770
2   28    male  33.000
3   33    male  22.705
4   32    male  28.880

In [15]:
df.age

0       19
1       18
2       28
3       33
4       32
5       31
6       46
7       37
8       37
9       60
10      25
11      62
12      23
13      56
14      27
15      19
16      52
17      23
18      56
19      30
20      60
21      30
22      18
23      34
24      37
25      59
26      63
27      55
28      23
29      31
        ..
1308    25
1309    41
1310    42
1311    33
1312    34
1313    19
1314    30
1315    18
1316    19
1317    18
1318    35
1319    39
1320    31
1321    62
1322    62
1323    42
1324    31
1325    61
1326    42
1327    51
1328    23
1329    52
1330    57
1331    23
1332    52
1333    50
1334    18
1335    18
1336    21
1337    61
Name: age, Length: 1338, dtype: int64

In [20]:
df[(df.smoker == "yes") & (df.gender == "male")]

      age gender     bmi  children smoker     region      charges
14     27   male  42.130         0    yes  southeast  39611.75770
19     30   male  35.300         0    yes  southwest  36837.46700
29     31   male  36.300         2    yes  southwest  38711.00000
30     22   male  35.600         0    yes  southwest  35585.57600
34     28   male  36.400         1    yes  southwest  51194.55914
38     35   male  36.670         1    yes  northeast  39774.27630
39     60   male  39.900         0    yes  southwest  48173.36100
49     36   male  35.200         1    yes  southeast  38709.17600
52     48   male  28.000         1    yes  southwest  23568.27200
53     36   male  34.430         0    yes  southeast  37742.57570
55     58   male  36.955         2    yes  northwest  47496.49445
57     18   male  31.680         2    yes  southeast  34303.16720
69     28   male  23.980         3    yes  southeast  17663.14420
82     22   male  37.620         1    yes  southeast  37165.16380
85     45   male  22.895         2    yes  northwest  21098.55405
92     59   male  29.830         3    yes  northeast  30184.93670
98     56   male  19.950         0    yes  northeast  22412.64850
99     38   male  19.300         0    yes  southwest  15820.69900
105    20   male  28.025         1    yes  northwest  17560.37975
109    63   male  35.090         0    yes  southeast  47055.53210
123    44   male  31.350         1    yes  northeast  39556.49450
142    34   male  25.300         2    yes  southeast  18972.49500
144    30   male  28.690         3    yes  northwest  20745.98910
146    46   male  30.495         3    yes  northwest  40720.55105
156    48   male  24.420         0    yes  southeast  21223.67580
157    18   male  25.175         0    yes  northeast  15518.18025
158    30   male  35.530         0    yes  southeast  36950.25670
185    36   male  41.895         3    yes  northeast  43753.33705
207    35   male  27.740         2    yes  northeast  20984.09360
223    19   male  34.800         0    yes  southwest  34779.61500
...   ...    ...     ...       ...    ...        ...          ...
1078   28   male  31.680         0    yes  southeast  34672.14720
1090   47   male  36.190         0    yes  southeast  41676.08110
1111   38   male  38.390         3    yes  southeast  41949.24410
1117   25   male  33.330         2    yes  southeast  36124.57370
1118   33   male  35.750         1    yes  southeast  38282.74950
1146   60   male  32.800         0    yes  southwest  52590.82939
1156   19   male  44.880         0    yes  southeast  39722.74620
1170   18   male  27.360         1    yes  northeast  17178.68240
1179   31   male  29.810         0    yes  southeast  19350.36890
1186   20   male  35.625         3    yes  northwest  37465.34375
1207   36   male  33.400         2    yes  southwest  38415.47400
1230   52   male  34.485         3    yes  northwest  60021.39897
1240   52   male  41.800         2    yes  southeast  47269.85400
1241   64   male  36.960         2    yes  southeast  49577.66240
1249   32   male  33.630         1    yes  northeast  37607.52770
1250   24   male  29.830         0    yes  northeast  18648.42170
1252   20   male  27.300         0    yes  southwest  16232.84700
1265   64   male  23.760         0    yes  southeast  26926.51440
1267   24   male  31.065         0    yes  northeast  34254.05335
1274   26   male  27.060         0    yes  southeast  17043.34140
1278   39   male  29.925         1    yes  northeast  22462.04375
1284   61   male  36.300         1    yes  southwest  47403.88000
1288   20   male  39.400         2    yes  southwest  38344.56600
1291   19   male  34.900         0    yes  southwest  34828.65400
1300   45   male  30.360         0    yes  southeast  62592.87309
1301   62   male  30.875         3    yes  northwest  46718.16325
1303   43   male  27.800         0    yes  southwest  37829.72420
1304   42   male  24.605         2    yes  northeast  21259.37795
1307   32   male  28.120         4    yes  northwest  21472.47880
1321   62   male  26.695         0    yes  northeast  28101.33305

[159 rows x 7 columns]

In [21]:
df[(df.smoker == "yes") & (df.gender == "male")]

      age gender     bmi  children smoker     region      charges
14     27   male  42.130         0    yes  southeast  39611.75770
19     30   male  35.300         0    yes  southwest  36837.46700
29     31   male  36.300         2    yes  southwest  38711.00000
30     22   male  35.600         0    yes  southwest  35585.57600
34     28   male  36.400         1    yes  southwest  51194.55914
38     35   male  36.670         1    yes  northeast  39774.27630
39     60   male  39.900         0    yes  southwest  48173.36100
49     36   male  35.200         1    yes  southeast  38709.17600
52     48   male  28.000         1    yes  southwest  23568.27200
53     36   male  34.430         0    yes  southeast  37742.57570
55     58   male  36.955         2    yes  northwest  47496.49445
57     18   male  31.680         2    yes  southeast  34303.16720
69     28   male  23.980         3    yes  southeast  17663.14420
82     22   male  37.620         1    yes  southeast  37165.16380
85     45   male  22.895         2    yes  northwest  21098.55405
92     59   male  29.830         3    yes  northeast  30184.93670
98     56   male  19.950         0    yes  northeast  22412.64850
99     38   male  19.300         0    yes  southwest  15820.69900
105    20   male  28.025         1    yes  northwest  17560.37975
109    63   male  35.090         0    yes  southeast  47055.53210
123    44   male  31.350         1    yes  northeast  39556.49450
142    34   male  25.300         2    yes  southeast  18972.49500
144    30   male  28.690         3    yes  northwest  20745.98910
146    46   male  30.495         3    yes  northwest  40720.55105
156    48   male  24.420         0    yes  southeast  21223.67580
157    18   male  25.175         0    yes  northeast  15518.18025
158    30   male  35.530         0    yes  southeast  36950.25670
185    36   male  41.895         3    yes  northeast  43753.33705
207    35   male  27.740         2    yes  northeast  20984.09360
223    19   male  34.800         0    yes  southwest  34779.61500
...   ...    ...     ...       ...    ...        ...          ...
1078   28   male  31.680         0    yes  southeast  34672.14720
1090   47   male  36.190         0    yes  southeast  41676.08110
1111   38   male  38.390         3    yes  southeast  41949.24410
1117   25   male  33.330         2    yes  southeast  36124.57370
1118   33   male  35.750         1    yes  southeast  38282.74950
1146   60   male  32.800         0    yes  southwest  52590.82939
1156   19   male  44.880         0    yes  southeast  39722.74620
1170   18   male  27.360         1    yes  northeast  17178.68240
1179   31   male  29.810         0    yes  southeast  19350.36890
1186   20   male  35.625         3    yes  northwest  37465.34375
1207   36   male  33.400         2    yes  southwest  38415.47400
1230   52   male  34.485         3    yes  northwest  60021.39897
1240   52   male  41.800         2    yes  southeast  47269.85400
1241   64   male  36.960         2    yes  southeast  49577.66240
1249   32   male  33.630         1    yes  northeast  37607.52770
1250   24   male  29.830         0    yes  northeast  18648.42170
1252   20   male  27.300         0    yes  southwest  16232.84700
1265   64   male  23.760         0    yes  southeast  26926.51440
1267   24   male  31.065         0    yes  northeast  34254.05335
1274   26   male  27.060         0    yes  southeast  17043.34140
1278   39   male  29.925         1    yes  northeast  22462.04375
1284   61   male  36.300         1    yes  southwest  47403.88000
1288   20   male  39.400         2    yes  southwest  38344.56600
1291   19   male  34.900         0    yes  southwest  34828.65400
1300   45   male  30.360         0    yes  southeast  62592.87309
1301   62   male  30.875         3    yes  northwest  46718.16325
1303   43   male  27.800         0    yes  southwest  37829.72420
1304   42   male  24.605         2    yes  northeast  21259.37795
1307   32   male  28.120         4    yes  northwest  21472.47880
1321   62   male  26.695         0    yes  northeast  28101.33305

[159 rows x 7 columns]

In [23]:
df.query("gender == 'male' and smoker == 'yes'")

      age gender     bmi  children smoker     region      charges
14     27   male  42.130         0    yes  southeast  39611.75770
19     30   male  35.300         0    yes  southwest  36837.46700
29     31   male  36.300         2    yes  southwest  38711.00000
30     22   male  35.600         0    yes  southwest  35585.57600
34     28   male  36.400         1    yes  southwest  51194.55914
38     35   male  36.670         1    yes  northeast  39774.27630
39     60   male  39.900         0    yes  southwest  48173.36100
49     36   male  35.200         1    yes  southeast  38709.17600
52     48   male  28.000         1    yes  southwest  23568.27200
53     36   male  34.430         0    yes  southeast  37742.57570
55     58   male  36.955         2    yes  northwest  47496.49445
57     18   male  31.680         2    yes  southeast  34303.16720
69     28   male  23.980         3    yes  southeast  17663.14420
82     22   male  37.620         1    yes  southeast  37165.16380
85     45   male  22.895         2    yes  northwest  21098.55405
92     59   male  29.830         3    yes  northeast  30184.93670
98     56   male  19.950         0    yes  northeast  22412.64850
99     38   male  19.300         0    yes  southwest  15820.69900
105    20   male  28.025         1    yes  northwest  17560.37975
109    63   male  35.090         0    yes  southeast  47055.53210
123    44   male  31.350         1    yes  northeast  39556.49450
142    34   male  25.300         2    yes  southeast  18972.49500
144    30   male  28.690         3    yes  northwest  20745.98910
146    46   male  30.495         3    yes  northwest  40720.55105
156    48   male  24.420         0    yes  southeast  21223.67580
157    18   male  25.175         0    yes  northeast  15518.18025
158    30   male  35.530         0    yes  southeast  36950.25670
185    36   male  41.895         3    yes  northeast  43753.33705
207    35   male  27.740         2    yes  northeast  20984.09360
223    19   male  34.800         0    yes  southwest  34779.61500
...   ...    ...     ...       ...    ...        ...          ...
1078   28   male  31.680         0    yes  southeast  34672.14720
1090   47   male  36.190         0    yes  southeast  41676.08110
1111   38   male  38.390         3    yes  southeast  41949.24410
1117   25   male  33.330         2    yes  southeast  36124.57370
1118   33   male  35.750         1    yes  southeast  38282.74950
1146   60   male  32.800         0    yes  southwest  52590.82939
1156   19   male  44.880         0    yes  southeast  39722.74620
1170   18   male  27.360         1    yes  northeast  17178.68240
1179   31   male  29.810         0    yes  southeast  19350.36890
1186   20   male  35.625         3    yes  northwest  37465.34375
1207   36   male  33.400         2    yes  southwest  38415.47400
1230   52   male  34.485         3    yes  northwest  60021.39897
1240   52   male  41.800         2    yes  southeast  47269.85400
1241   64   male  36.960         2    yes  southeast  49577.66240
1249   32   male  33.630         1    yes  northeast  37607.52770
1250   24   male  29.830         0    yes  northeast  18648.42170
1252   20   male  27.300         0    yes  southwest  16232.84700
1265   64   male  23.760         0    yes  southeast  26926.51440
1267   24   male  31.065         0    yes  northeast  34254.05335
1274   26   male  27.060         0    yes  southeast  17043.34140
1278   39   male  29.925         1    yes  northeast  22462.04375
1284   61   male  36.300         1    yes  southwest  47403.88000
1288   20   male  39.400         2    yes  southwest  38344.56600
1291   19   male  34.900         0    yes  southwest  34828.65400
1300   45   male  30.360         0    yes  southeast  62592.87309
1301   62   male  30.875         3    yes  northwest  46718.16325
1303   43   male  27.800         0    yes  southwest  37829.72420
1304   42   male  24.605         2    yes  northeast  21259.37795
1307   32   male  28.120         4    yes  northwest  21472.47880
1321   62   male  26.695         0    yes  northeast  28101.33305

[159 rows x 7 columns]

In [27]:
df.sort_values("age", ascending=False)

      age  gender     bmi  children smoker     region       charges
335    64    male  34.500         0     no  southwest  13822.803000
603    64  female  39.050         3     no  southeast  16085.127500
752    64    male  37.905         0     no  northwest  14210.535950
1265   64    male  23.760         0    yes  southeast  26926.514400
534    64    male  40.480         0     no  southeast  13831.115200
328    64  female  33.800         1    yes  southwest  47928.030000
768    64  female  39.700         0     no  southwest  14319.031000
1241   64    male  36.960         2    yes  southeast  49577.662400
62     64    male  24.700         1     no  northwest  30166.618170
801    64  female  35.970         0     no  southeast  14313.846300
825    64  female  31.825         2     no  northeast  16069.084750
378    64  female  30.115         3     no  northwest  16455.707850
398    64    male  25.600         2     no  southwest  14988.432000
402    64  female  32.965         0     no  northwest  14692.669350
890    64  female  26.885         0    yes  northwest  29330.983150
94     64  female  31.300         2    yes  southwest  47291.055000
420    64    male  33.880         0    yes  southeast  46889.261200
1051   64    male  26.410         0     no  northeast  14394.557900
418    64    male  39.160         1     no  southeast  14418.280400
199    64  female  39.330         0     no  northeast  14901.516700
635    64    male  38.190         0     no  northeast  14410.932100
664    64  female  22.990         0    yes  southeast  27037.914100
170    63    male  41.470         0     no  southeast  13405.390300
343    63    male  36.765         0     no  northeast  13981.850350
1068   63    male  21.660         1     no  northwest  14349.854400
1236   63  female  21.660         0     no  northeast  14449.854400
419    63  female  26.980         0    yes  northwest  28950.469200
175    63  female  37.700         0    yes  southwest  48824.450000
480    63    male  41.325         3     no  northwest  15555.188750
830    63    male  33.100         0     no  southwest  13393.756000
...   ...     ...     ...       ...    ...        ...           ...
157    18    male  25.175         0    yes  northeast  15518.180250
1150   18  female  30.305         0     no  northeast   2203.735950
1163   18  female  28.215         0     no  northeast   2200.830850
1170   18    male  27.360         1    yes  northeast  17178.682400
121    18    male  23.750         0     no  northeast   1705.624500
1215   18    male  39.140         0     no  northeast  12890.057650
102    18  female  30.115         0     no  northeast  21344.846700
250    18    male  17.290         2    yes  northeast  12829.455100
57     18    male  31.680         2    yes  southeast  34303.167200
469    18  female  24.090         1     no  southeast   2201.097100
911    18    male  31.730         0    yes  northeast  33732.686700
442    18    male  43.010         0     no  southeast   1149.395900
866    18    male  37.290         0     no  southeast   1141.445100
427    18  female  29.165         0     no  northeast   7323.734819
31     18  female  26.315         0     no  northeast   2198.189850
1283   18    male  30.030         1     no  southeast   1720.353700
1282   18  female  21.660         0    yes  northeast  14283.459400
399    18  female  38.170         0     no  southeast   1631.668300
898    18  female  40.260         0     no  southeast   1634.573400
1212   18    male  21.470         0     no  northeast   1702.455300
270    18    male  29.370         1     no  southeast   1719.436300
359    18  female  20.790         0     no  southeast   1607.510100
354    18  female  38.280         0     no  southeast  14133.037750
938    18    male  26.180         2     no  southeast   2304.002200
940    18    male  23.210         0     no  southeast   1121.873900
942    18  female  40.185         0     no  northeast   2217.469150
46     18  female  38.665         2     no  northeast   3393.356350
295    18    male  22.990         0     no  northeast   1704.568100
50     18  female  35.625         0     no  northeast   2211.130750
648    18    male  28.500         0     no  northeast   1712.227000

[1338 rows x 7 columns]

In [28]:
df.sort_values(["age", "bmi"], ascending=False)

      age  gender     bmi  children smoker     region       charges
534    64    male  40.480         0     no  southeast  13831.115200
768    64  female  39.700         0     no  southwest  14319.031000
199    64  female  39.330         0     no  northeast  14901.516700
418    64    male  39.160         1     no  southeast  14418.280400
603    64  female  39.050         3     no  southeast  16085.127500
635    64    male  38.190         0     no  northeast  14410.932100
752    64    male  37.905         0     no  northwest  14210.535950
1241   64    male  36.960         2    yes  southeast  49577.662400
801    64  female  35.970         0     no  southeast  14313.846300
335    64    male  34.500         0     no  southwest  13822.803000
420    64    male  33.880         0    yes  southeast  46889.261200
328    64  female  33.800         1    yes  southwest  47928.030000
402    64  female  32.965         0     no  northwest  14692.669350
825    64  female  31.825         2     no  northeast  16069.084750
94     64  female  31.300         2    yes  southwest  47291.055000
378    64  female  30.115         3     no  northwest  16455.707850
890    64  female  26.885         0    yes  northwest  29330.983150
1051   64    male  26.410         0     no  northeast  14394.557900
398    64    male  25.600         2     no  southwest  14988.432000
62     64    male  24.700         1     no  northwest  30166.618170
1265   64    male  23.760         0    yes  southeast  26926.514400
664    64  female  22.990         0    yes  southeast  27037.914100
170    63    male  41.470         0     no  southeast  13405.390300
480    63    male  41.325         3     no  northwest  15555.188750
908    63    male  39.800         3     no  southwest  15170.069000
175    63  female  37.700         0    yes  southwest  48824.450000
997    63  female  36.850         0     no  southeast  13887.968500
343    63    male  36.765         0     no  northeast  13981.850350
542    63  female  36.300         0     no  southeast  13887.204000
962    63  female  35.200         1     no  southeast  14474.675000
...   ...     ...     ...       ...    ...        ...           ...
102    18  female  30.115         0     no  northeast  21344.846700
471    18  female  30.115         0     no  northeast   2203.471850
1283   18    male  30.030         1     no  southeast   1720.353700
270    18    male  29.370         1     no  southeast   1719.436300
427    18  female  29.165         0     no  northeast   7323.734819
648    18    male  28.500         0     no  northeast   1712.227000
1315   18    male  28.310         1     no  northeast  11272.331390
1163   18  female  28.215         0     no  northeast   2200.830850
1170   18    male  27.360         1    yes  northeast  17178.682400
1204   18  female  27.280         3    yes  southeast  18223.451200
236    18  female  26.730         0     no  southeast   1615.766700
31     18  female  26.315         0     no  northeast   2198.189850
938    18    male  26.180         2     no  southeast   2304.002200
1296   18    male  26.125         0     no  northeast   1708.925750
529    18    male  25.460         0     no  northeast   1708.001400
157    18    male  25.175         0    yes  northeast  15518.180250
492    18  female  25.080         0     no  northeast   2196.473200
469    18  female  24.090         1     no  southeast   2201.097100
121    18    male  23.750         0     no  northeast   1705.624500
1023   18    male  23.320         1     no  southeast   1711.026800
940    18    male  23.210         0     no  southeast   1121.873900
1041   18    male  23.085         0     no  northeast   1704.700150
295    18    male  22.990         0     no  northeast   1704.568100
1080   18    male  21.780         2     no  southeast  11884.048580
1282   18  female  21.660         0    yes  northeast  14283.459400
1033   18    male  21.565         0    yes  northeast  13747.872350
1212   18    male  21.470         0     no  northeast   1702.455300
359    18  female  20.790         0     no  southeast   1607.510100
250    18    male  17.290         2    yes  northeast  12829.455100
172    18    male  15.960         0     no  northeast   1694.796400

[1338 rows x 7 columns]

In [29]:
df.sort_values(["age", "bmi"], ascending=[False, True])

      age  gender     bmi  children smoker     region      charges
664    64  female  22.990         0    yes  southeast  27037.91410
1265   64    male  23.760         0    yes  southeast  26926.51440
62     64    male  24.700         1     no  northwest  30166.61817
398    64    male  25.600         2     no  southwest  14988.43200
1051   64    male  26.410         0     no  northeast  14394.55790
890    64  female  26.885         0    yes  northwest  29330.98315
378    64  female  30.115         3     no  northwest  16455.70785
94     64  female  31.300         2    yes  southwest  47291.05500
825    64  female  31.825         2     no  northeast  16069.08475
402    64  female  32.965         0     no  northwest  14692.66935
328    64  female  33.800         1    yes  southwest  47928.03000
420    64    male  33.880         0    yes  southeast  46889.26120
335    64    male  34.500         0     no  southwest  13822.80300
801    64  female  35.970         0     no  southeast  14313.84630
1241   64    male  36.960         2    yes  southeast  49577.66240
752    64    male  37.905         0     no  northwest  14210.53595
635    64    male  38.190         0     no  northeast  14410.93210
603    64  female  39.050         3     no  southeast  16085.12750
418    64    male  39.160         1     no  southeast  14418.28040
199    64  female  39.330         0     no  northeast  14901.51670
768    64  female  39.700         0     no  southwest  14319.03100
534    64    male  40.480         0     no  southeast  13831.11520
1068   63    male  21.660         1     no  northwest  14349.85440
1236   63  female  21.660         0     no  northeast  14449.85440
26     63  female  23.085         0     no  northeast  14451.83515
1125   63  female  25.080         0     no  northwest  14254.60820
287    63  female  26.220         0     no  northwest  14256.19280
419    63  female  26.980         0    yes  northwest  28950.46920
244    63  female  27.740         0    yes  northeast  29523.16560
33     63    male  28.310         0     no  northwest  13770.09790
...   ...     ...     ...       ...    ...        ...          ...
564    18  female  32.120         2     no  southeast   2801.25880
612    18  female  33.155         0     no  northeast   2207.69745
1244   18    male  33.330         0     no  southeast   1135.94070
623    18    male  33.535         0    yes  northeast  34617.84065
663    18    male  33.660         0     no  southeast   1136.39940
1      18    male  33.770         1     no  southeast   1725.55230
525    18  female  33.880         0     no  southeast  11482.63485
22     18    male  34.100         0     no  southeast   1137.01100
194    18    male  34.430         0     no  southeast   1137.46970
710    18    male  35.200         1     no  southeast   1727.54000
50     18  female  35.625         0     no  northeast   2211.13075
161    18  female  36.850         0    yes  southeast  36149.48350
1335   18  female  36.850         0     no  southeast   1629.83350
571    18  female  37.290         1     no  southeast   2219.44510
866    18    male  37.290         0     no  southeast   1141.44510
399    18  female  38.170         0     no  southeast   1631.66830
759    18    male  38.170         0    yes  southeast  36307.79830
181    18  female  38.280         0     no  southeast   1631.82120
354    18  female  38.280         0     no  southeast  14133.03775
46     18  female  38.665         2     no  northeast   3393.35635
1215   18    male  39.140         0     no  northeast  12890.05765
600    18  female  39.160         0     no  southeast   1633.04440
1248   18  female  39.820         0     no  southeast   1633.96180
942    18  female  40.185         0     no  northeast   2217.46915
898    18  female  40.260         0     no  southeast   1634.57340
728    18  female  40.280         0     no  northeast   2217.60120
781    18    male  41.140         0     no  southeast   1146.79660
803    18  female  42.240         0    yes  southeast  38792.68560
442    18    male  43.010         0     no  southeast   1149.39590
1317   18    male  53.130         0     no  southeast   1163.46270

[1338 rows x 7 columns]

In [31]:
df.gender.value_counts()

male      676
female    662
Name: gender, dtype: int64

In [32]:
df.groupby("gender").age.mean()

gender
female    39.503021
male      38.917160
Name: age, dtype: float64

In [34]:
df.groupby("gender").age.agg(["min", "max","median", "mean"])

        min  max  median       mean
gender
female   18   64      40  39.503021
male     18   64      39  38.917160

In [35]:
def my_avg(values): 
    return sum(values)/len(values)

In [36]:
df.groupby("gender").age.agg(["min", "max","median", "mean", my_avg])

        min  max  median       mean     my_avg
gender
female   18   64      40  39.503021  39.503021
male     18   64      39  38.917160  38.917160

In [37]:
df.groupby("gender").agg({"age": "mean", "bmi": "min"})

              age     bmi
gender
female  39.503021  16.815
male    38.917160  15.960

In [39]:
df.groupby("gender").agg({"age": ["mean", "median"]
                    , "bmi": ["min", "max", "count"]})

              age            bmi
             mean median     min    max count
gender
female  39.503021     40  16.815  48.07   662
male    38.917160     39  15.960  53.13   676

In [41]:
import numpy as np

In [43]:
df["age_group"] = np.where(df.age > 60, "s1", "s2")
df

      age  gender     bmi  children smoker     region      charges age_group
0      19  female  27.900         0    yes  southwest  16884.92400        s2
1      18    male  33.770         1     no  southeast   1725.55230        s2
2      28    male  33.000         3     no  southeast   4449.46200        s2
3      33    male  22.705         0     no  northwest  21984.47061        s2
4      32    male  28.880         0     no  northwest   3866.85520        s2
5      31  female  25.740         0     no  southeast   3756.62160        s2
6      46  female  33.440         1     no  southeast   8240.58960        s2
7      37  female  27.740         3     no  northwest   7281.50560        s2
8      37    male  29.830         2     no  northeast   6406.41070        s2
9      60  female  25.840         0     no  northwest  28923.13692        s2
10     25    male  26.220         0     no  northeast   2721.32080        s2
11     62  female  26.290         0    yes  southeast  27808.72510        s1
12     23    male  34.400         0     no  southwest   1826.84300        s2
13     56  female  39.820         0     no  southeast  11090.71780        s2
14     27    male  42.130         0    yes  southeast  39611.75770        s2
15     19    male  24.600         1     no  southwest   1837.23700        s2
16     52  female  30.780         1     no  northeast  10797.33620        s2
17     23    male  23.845         0     no  northeast   2395.17155        s2
18     56    male  40.300         0     no  southwest  10602.38500        s2
19     30    male  35.300         0    yes  southwest  36837.46700        s2
20     60  female  36.005         0     no  northeast  13228.84695        s2
21     30  female  32.400         1     no  southwest   4149.73600        s2
22     18    male  34.100         0     no  southeast   1137.01100        s2
23     34  female  31.920         1    yes  northeast  37701.87680        s2
24     37    male  28.025         2     no  northwest   6203.90175        s2
25     59  female  27.720         3     no  southeast  14001.13380        s2
26     63  female  23.085         0     no  northeast  14451.83515        s1
27     55  female  32.775         2     no  northwest  12268.63225        s2
28     23    male  17.385         1     no  northwest   2775.19215        s2
29     31    male  36.300         2    yes  southwest  38711.00000        s2
...   ...     ...     ...       ...    ...        ...          ...       ...
1308   25  female  30.200         0    yes  southwest  33900.65300        s2
1309   41    male  32.200         2     no  southwest   6875.96100        s2
1310   42    male  26.315         1     no  northwest   6940.90985        s2
1311   33  female  26.695         0     no  northwest   4571.41305        s2
1312   34    male  42.900         1     no  southwest   4536.25900        s2
1313   19  female  34.700         2    yes  southwest  36397.57600        s2
1314   30  female  23.655         3    yes  northwest  18765.87545        s2
1315   18    male  28.310         1     no  northeast  11272.33139        s2
1316   19  female  20.600         0     no  southwest   1731.67700        s2
1317   18    male  53.130         0     no  southeast   1163.46270        s2
1318   35    male  39.710         4     no  northeast  19496.71917        s2
1319   39  female  26.315         2     no  northwest   7201.70085        s2
1320   31    male  31.065         3     no  northwest   5425.02335        s2
1321   62    male  26.695         0    yes  northeast  28101.33305        s1
1322   62    male  38.830         0     no  southeast  12981.34570        s1
1323   42  female  40.370         2    yes  southeast  43896.37630        s2
1324   31    male  25.935         1     no  northwest   4239.89265        s2
1325   61    male  33.535         0     no  northeast  13143.33665        s1
1326   42  female  32.870         0     no  northeast   7050.02130        s2
1327   51    male  30.030         1     no  southeast   9377.90470        s2
1328   23  female  24.225         2     no  northeast  22395.74424        s2
1329   52    male  38.600         2     no  southwest  10325.20600        s2
1330   57  female  25.740         2     no  southeast  12629.16560        s2
1331   23  female  33.400         0     no  southwest  10795.93733        s2
1332   52  female  44.700         3     no  southwest  11411.68500        s2
1333   50    male  30.970         3     no  northwest  10600.54830        s2
1334   18  female  31.920         0     no  northeast   2205.98080        s2
1335   18  female  36.850         0     no  southeast   1629.83350        s2
1336   21  female  25.800         0     no  southwest   2007.94500        s2
1337   61  female  29.070         0    yes  northwest  29141.36030        s1

[1338 rows x 8 columns]

In [47]:
def find_age_group(age):
    if age > 60:
        return "s1"
    elif age > 40:
        return "s2"
    else:
        return "s3"

In [48]:
df["age_group"] = df.age.apply(find_age_group)
df

      age  gender     bmi  children smoker     region      charges age_group
0      19  female  27.900         0    yes  southwest  16884.92400        s3
1      18    male  33.770         1     no  southeast   1725.55230        s3
2      28    male  33.000         3     no  southeast   4449.46200        s3
3      33    male  22.705         0     no  northwest  21984.47061        s3
4      32    male  28.880         0     no  northwest   3866.85520        s3
5      31  female  25.740         0     no  southeast   3756.62160        s3
6      46  female  33.440         1     no  southeast   8240.58960        s2
7      37  female  27.740         3     no  northwest   7281.50560        s3
8      37    male  29.830         2     no  northeast   6406.41070        s3
9      60  female  25.840         0     no  northwest  28923.13692        s2
10     25    male  26.220         0     no  northeast   2721.32080        s3
11     62  female  26.290         0    yes  southeast  27808.72510        s1
12     23    male  34.400         0     no  southwest   1826.84300        s3
13     56  female  39.820         0     no  southeast  11090.71780        s2
14     27    male  42.130         0    yes  southeast  39611.75770        s3
15     19    male  24.600         1     no  southwest   1837.23700        s3
16     52  female  30.780         1     no  northeast  10797.33620        s2
17     23    male  23.845         0     no  northeast   2395.17155        s3
18     56    male  40.300         0     no  southwest  10602.38500        s2
19     30    male  35.300         0    yes  southwest  36837.46700        s3
20     60  female  36.005         0     no  northeast  13228.84695        s2
21     30  female  32.400         1     no  southwest   4149.73600        s3
22     18    male  34.100         0     no  southeast   1137.01100        s3
23     34  female  31.920         1    yes  northeast  37701.87680        s3
24     37    male  28.025         2     no  northwest   6203.90175        s3
25     59  female  27.720         3     no  southeast  14001.13380        s2
26     63  female  23.085         0     no  northeast  14451.83515        s1
27     55  female  32.775         2     no  northwest  12268.63225        s2
28     23    male  17.385         1     no  northwest   2775.19215        s3
29     31    male  36.300         2    yes  southwest  38711.00000        s3
...   ...     ...     ...       ...    ...        ...          ...       ...
1308   25  female  30.200         0    yes  southwest  33900.65300        s3
1309   41    male  32.200         2     no  southwest   6875.96100        s2
1310   42    male  26.315         1     no  northwest   6940.90985        s2
1311   33  female  26.695         0     no  northwest   4571.41305        s3
1312   34    male  42.900         1     no  southwest   4536.25900        s3
1313   19  female  34.700         2    yes  southwest  36397.57600        s3
1314   30  female  23.655         3    yes  northwest  18765.87545        s3
1315   18    male  28.310         1     no  northeast  11272.33139        s3
1316   19  female  20.600         0     no  southwest   1731.67700        s3
1317   18    male  53.130         0     no  southeast   1163.46270        s3
1318   35    male  39.710         4     no  northeast  19496.71917        s3
1319   39  female  26.315         2     no  northwest   7201.70085        s3
1320   31    male  31.065         3     no  northwest   5425.02335        s3
1321   62    male  26.695         0    yes  northeast  28101.33305        s1
1322   62    male  38.830         0     no  southeast  12981.34570        s1
1323   42  female  40.370         2    yes  southeast  43896.37630        s2
1324   31    male  25.935         1     no  northwest   4239.89265        s3
1325   61    male  33.535         0     no  northeast  13143.33665        s1
1326   42  female  32.870         0     no  northeast   7050.02130        s2
1327   51    male  30.030         1     no  southeast   9377.90470        s2
1328   23  female  24.225         2     no  northeast  22395.74424        s3
1329   52    male  38.600         2     no  southwest  10325.20600        s2
1330   57  female  25.740         2     no  southeast  12629.16560        s2
1331   23  female  33.400         0     no  southwest  10795.93733        s3
1332   52  female  44.700         3     no  southwest  11411.68500        s2
1333   50    male  30.970         3     no  northwest  10600.54830        s2
1334   18  female  31.920         0     no  northeast   2205.98080        s3
1335   18  female  36.850         0     no  southeast   1629.83350        s3
1336   21  female  25.800         0     no  southwest   2007.94500        s3
1337   61  female  29.070         0    yes  northwest  29141.36030        s1

[1338 rows x 8 columns]

In [51]:
df.head()

   age  gender     bmi  children smoker     region      charges age_group
0   19  female  27.900         0    yes  southwest  16884.92400        s3
1   18    male  33.770         1     no  southeast   1725.55230        s3
2   28    male  33.000         3     no  southeast   4449.46200        s3
3   33    male  22.705         0     no  northwest  21984.47061        s3
4   32    male  28.880         0     no  northwest   3866.85520        s3

In [52]:
df.loc[0,"age"]

19